<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages enableViewStateMac="false"/>
    <httpRuntime requestValidationMode="2.0"/>    
    <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx" />
      <error statusCode="403" redirect="~/Error.aspx" />
    </customErrors>      
  </system.web>
  <system.webServer>    
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/Error.aspx" prefixLanguageFilePath="" responseMode="ExecuteURL"   />
    </httpErrors>  
  </system.webServer>  
</configuration>